@page "/contenidoBusqueda"

@inject NavigationManager NavigationManager

<div class="container mt-4">
    <div class="row mb-4 align-items-center">
        <div class="col-auto">
            <button class="btn btn-secondary" @onclick="BackButtonClicked">&#x2190;</button>
        </div>
        <div class="col">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar" value="Dragon">
        </div>
    </div>
    <div class="row" id="videoGrid">
        <!-- Video Thumbnails will be inserted here -->
    </div>
</div>

@code{
    private async Task BackButtonClicked()
    {
        // Regresar
        NavigationManager.NavigateTo("/");
    }
}

