@page "/reproducirContenido"

@inject NavigationManager NavigationManager

<h3>Reproducir Contenido</h3>

<div class="video-container">
    <video id="video" src="ruta_del_video.mp4" controls></video>
    <div class="controls">
        <button @onclick="RewindClicked">⏪</button>
        <button @onclick="PlayPauseClicked">@playPauseButtonText</button>
        <button @onclick="ForwardClicked">⏩</button>
    </div>
    <button @onclick="BackButtonClicked" class="back-button">←</button>
</div>

@code {
    private string playPauseButtonText = "⏯️";

    private async Task PlayPauseClicked()
    {
        if (playPauseButtonText == "⏯️")
            playPauseButtonText = "▶️";
        else
            playPauseButtonText = "⏯️";
    }

    private async Task RewindClicked()
    {
        // Rebobinar
    }

    private async Task ForwardClicked()
    {
        // Adelantar
    }

    private async Task BackButtonClicked()
    {
        // Regresar
        NavigationManager.NavigateTo("/visualizarContenido");
    }
}
