@page "/visualizarContenido"

@inject NavigationManager NavigationManager

<PageTitle>Visualizar Contenido</PageTitle>

<div class="container mt-4">
    <div class="video-preview">
        <img src="https://via.placeholder.com/800x450" class="img-fluid" alt="Vista Previa del Video">
        <button class="btn btn-light" @onclick="BackButtonClicked">&#x2190; Atrás</button>
    </div>
    <div class="video-details mt-3">
        <h1 id="videoTitle">Título del Video</h1>
        <p id="videoDescription">Descripción del video. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce interdum elit eu nisl convallis, a eleifend justo facilisis.</p>
        <p class="director">Director: <span id="videoDirector">Nombre del Director</span></p>
        <p>Fecha: <span id="videoDate">DD/MM/YYYY</span></p>
        <p>Duración: <span id="videoDuration">00:00 H</span></p>
    </div>
</div>

@code{
    private async Task BackButtonClicked()
    {
        // Regresar
        NavigationManager.NavigateTo("/contenidoBusqueda");
    }
}